CompileFlags:
  Add:
    - -Wall
    - -Wextra
    - -Werror
    - -std=c++98
    - -xc++
    - -I/usr/include/c++/11
    - -I/usr/include/x86_64-linux-gnu/c++/11
    - -I/usr/include/c++/11/backward
    - -I/usr/local/include
    - -I/usr/lib/llvm-12/lib/clang/12.0.1/include
    - -I/usr/include/x86_64-linux-gnu
    - -I/usr/include
    - -I./includes
    - --target=x86_64-pc-linux-gnu
  Remove:
    - -W*
    - -std=*
Index:
  Background: Build
  StandardLibrary: Yes
Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  ClangTidy:
    Add: []