## builds
NODE_ENV=development
DOCKER_ENV=development

## Auth
COOKIE_SIGN=dkslw3kd2o30jfklpq9h

## DB
DB_FILE_NAME=file:./database/app.db
MASTER_KEY_TOTP="T9CsqZJxo8+cFdD25I1mqikt+YdU4baMU4m8a0WUbEo="
