## builds
NODE_ENV=development
DOCKER_ENV=development

## Auth
COOKIE_SIGN=dkslw3kd2o30jfklpq9h

## DB
DB_FILE_NAME=file:./database/app.db
MASTER_KEY_TOTP="T9CsqZJxo8+cFdD25I1mqikt+YdU4baMU4m8a0WUbEo="

# BLOCKCHAIN

PRIVATE_KEY_WALLET = private_key_here
CONTRACT_ADDRESS = 0xEC2603C3a7b03Ff7Bc4CfE3898b40D492979EFD2
RPC_URL = "https://api.avax-test.network/ext/bc/C/rpc"