## builds
NODE_ENV=development
DOCKER_ENV=development

## Auth
COOKIE_SIGN=dkslw3kd2o30jfklpq9h

## DB
DB_FILE_NAME=file:./database/app.db
MASTER_KEY_TOTP="T9CsqZJxo8+cFdD25I1mqikt+YdU4baMU4m8a0WUbEo="

# BLOCKCHAIN

PRIVATE_KEY_WALLET = 
CONTRACT_ADDRESS = 0x81EB875bc10121Dd175e722652d6726E8faE509f
RPC_URL = "https://api.avax-test.network/ext/bc/C/rpc"
