@import "tailwindcss";
@import "./reset.css";
/* @import "tailwindcss/preflight.css" layer(base); */

html, body, #app {
  height: 100%;
}

/* Subtle overlay to improve text contrast */
#app::before {
  content: "";
  position: fixed;
  inset: 0;
  /* background: rgba(0, 0, 0, 0.25); */
  pointer-events: none;
}
